<div class="report-tasks-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <ui-data-table
          [id]="'report-tasks-grid'"
          [showFooter]="true"
          [page]="1"
          [columns]="tableColumns"
          [dataSource]="tableDataSource"
          [joinOptions]="joinOptions"
          [canViewDeleted]="true"
          [formFields]="formFields"
          [formTabs]="formTabs"
          [formLoadUrl]="formLoadUrl"
          [formFullscreen]="true"
          [formLoadRequest]="formLoadRequest"
          [formDataMapper]="formDataMapper"
          [onSave]="onSave"
          [onFormChange]="onFormChange"
          [selectable]="true"
          [pagination]="true"
          [pageSize]="50"
          [limit]="50"
          [height]="'calc(100vh - 100px)'"
          [recordHeight]="40"
          [showEmptyRows]="true"
          [fixedBody]="true"
          [advancedFilter]="true"
          [showRefresh]="true"
          [searchPlaceholder]="translate.instant('table.searchPlaceholder')"
          [recid]="'Id'"
          [selectType]="'row'"
          [multiSelect]="true"
          [multiSort]="true"
          [keyboard]="true"
          [liveSearch]="true"
          [reorderColumns]="false"
          [reorderRows]="false"
          [lineNumbers]="false"
          [expandColumn]="false"
          [nestedFields]="true"
          [columnTooltip]="'top'"
          [toolbar]="tableToolbarConfig"
          (refresh)="onTableRefresh()"
          (delete)="onTableDelete($event)"
          (edit)="onTableEdit($event)">
        </ui-data-table>
      </div>
    </div>
  </div>
</div>

