<div class="authorizations-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <ui-data-table
          [id]="'authorizations-grid'"
          [showFooter]="true"
          [page]="1"
          [columns]="tableColumns"
          [dataSource]="tableDataSource"
          [joinOptions]="joinOptions"
          [canViewDeleted]="true"
          [formFields]="formFields"
          [formTabs]="formTabs"
          [formLoadUrl]="formLoadUrl"
          [formFullscreen]="true"
          [formLoadRequest]="formLoadRequest"
          [formDataMapper]="formDataMapper"
          [onSave]="onSave"
          [onFormChange]="onFormChange"
          [selectable]="true"
          [pagination]="true"
          [pageSize]="10"
          [height]="'800px'"
          [recordHeight]="40"
          [showEmptyRows]="true"
          [fixedBody]="true"
          [advancedFilter]="true"
          [showRefresh]="true"
          [searchPlaceholder]="translate.instant('table.searchPlaceholder')"
          [recid]="'Id'"
          [selectType]="'row'"
          [multiSelect]="true"
          [multiSort]="true"
          [keyboard]="true"
          [liveSearch]="true"
          [reorderColumns]="false"
          [reorderRows]="false"
          [lineNumbers]="false"
          [expandColumn]="false"
          [nestedFields]="true"
          [columnTooltip]="'top'"
          [toolbar]="tableToolbarConfig"
          (rowClick)="onTableRowClick($event)"
          (rowDblClick)="onTableRowDblClick($event)"
          (rowSelect)="onTableRowSelect($event)"
          (advancedFilterChange)="onAdvancedFilterChange($event)"
          (refresh)="onTableRefresh()"
          (delete)="onTableDelete($event)"
          (add)="onTableAdd()"
          (edit)="onTableEdit($event)">
        </ui-data-table>
      </div>
    </div>
  </div>
</div>

<!-- Permissions Selection Modal -->
<ui-modal
  [title]="'Yetkileri seç'"
  [show]="showPermissionsModal"
  [size]="'xl'"
  [closable]="true"
  [showFooter]="false"
  (showChange)="showPermissionsModal = $event"
  (closed)="closePermissionsModal()"
  (onResize)="gridHeight = ($event.height-50<600?600:($event.height-50))+'px'">
  
  <div class="permissions-transfer-container" [style.height]="gridHeight">
    <!-- Left Panel: Unselected Claims -->
    <div class="transfer-panel">
      <div class="transfer-panel-header">
        <h4 class="transfer-panel-title">Seçilmemiş Yetkiler</h4>
        <button class="transfer-btn" (click)="transferToSelected()" title="Aktar">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 4l4 4-4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10 4l4 4-4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span>Aktar</span>
        </button>
      </div>
      <div class="transfer-panel-body">
        <ui-data-table
          #unselectedClaimsTable
          [id]="'unselected-claims-grid'"
          [columns]="claimsTableColumns"
          [dataSource]="unselectedClaimsDataSource"
          [selectable]="true"
          [pagination]="true"
          [pageSize]="100"
          [height]="gridHeight"
          [recid]="'Id'"
          [selectType]="'row'"
          [multiSelect]="true"
          [showRefresh]="true"
          [searchable]="true"
          [advancedFilter]="true"
          [showFooter]="true"
          [toolbar]="claimsTableToolbarConfig"
          [searchPlaceholder]="'Ara Tüm Alanlar'"
          (rowSelect)="selectedUnselectedClaims = $event">
        </ui-data-table>
      </div>
    </div>

    <!-- Right Panel: Selected Claims -->
    <div class="transfer-panel">
      <div class="transfer-panel-header">
        <h4 class="transfer-panel-title">Seçili Yetkiler</h4>
        <button class="transfer-btn" (click)="transferToUnselected()" title="Aktar">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 4l-4 4 4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M6 4l-4 4 4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span>Aktar</span>
        </button>
      </div>
      <div class="transfer-panel-body">
        <ui-data-table
          #selectedClaimsTable
          [id]="'selected-claims-grid'"
          [columns]="claimsTableColumns"
          [dataSource]="selectedClaimsDataSource"
          [selectable]="true"
          [pagination]="true"
          [pageSize]="100"
          [height]="gridHeight"
          [recid]="'Id'"
          [selectType]="'row'"
          [multiSelect]="true"
          [showRefresh]="true"
          [searchable]="true"
          [advancedFilter]="true"
          [showFooter]="true"
          [toolbar]="claimsTableToolbarConfig"
          [searchPlaceholder]="'Ara Tüm Alanlar'"
          (rowSelect)="selectedSelectedClaims = $event">
        </ui-data-table>
      </div>
    </div>
  </div>
</ui-modal>

<!-- Company Permissions Selection Modal -->
<ui-modal
  [title]="'Firma Yetkileri'"
  [show]="showCompanyPermissionsModal"
  [size]="'xl'"
  [closable]="true"
  [showFooter]="false"
  (showChange)="showCompanyPermissionsModal = $event"
  (closed)="closeCompanyPermissionsModal()"
  (onResize)="gridHeight = ($event.height-50<600?600:($event.height-50))+'px'">
  
  <div class="permissions-transfer-container" [style.height]="gridHeight">
    <!-- Left Panel: Unselected Companies -->
    <div class="transfer-panel">
      <div class="transfer-panel-header">
        <h4 class="transfer-panel-title">Seçilmemiş Firmalar</h4>
        <button class="transfer-btn" (click)="transferCompaniesToSelected()" title="Aktar">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 4l4 4-4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10 4l4 4-4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span>Aktar</span>
        </button>
      </div>
      <div class="transfer-panel-body">
        <ui-data-table
          #unselectedCompaniesTable
          [id]="'unselected-companies-grid'"
          [columns]="companiesTableColumns"
          [dataSource]="unselectedCompaniesDataSource"
          [selectable]="true"
          [pagination]="true"
          [pageSize]="100"
          [height]="gridHeight"
          [recid]="'PdksCompanyID'"
          [selectType]="'row'"
          [multiSelect]="true"
          [showRefresh]="true"
          [searchable]="true"
          [advancedFilter]="true"
          [showFooter]="true"
          [toolbar]="claimsTableToolbarConfig"
          [searchPlaceholder]="'Ara Tüm Alanlar'"
          (rowSelect)="selectedUnselectedCompanies = $event">
        </ui-data-table>
      </div>
    </div>

    <!-- Right Panel: Selected Companies -->
    <div class="transfer-panel">
      <div class="transfer-panel-header">
        <h4 class="transfer-panel-title">Seçili Firmalar</h4>
        <button class="transfer-btn" (click)="transferCompaniesToUnselected()" title="Aktar">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 4l-4 4 4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M6 4l-4 4 4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span>Aktar</span>
        </button>
      </div>
      <div class="transfer-panel-body">
        <ui-data-table
          #selectedCompaniesTable
          [id]="'selected-companies-grid'"
          [columns]="companiesTableColumns"
          [dataSource]="selectedCompaniesDataSource"
          [selectable]="true"
          [pagination]="true"
          [pageSize]="100"
          [height]="gridHeight"
          [recid]="'PdksCompanyID'"
          [selectType]="'row'"
          [multiSelect]="true"
          [showRefresh]="true"
          [searchable]="true"
          [advancedFilter]="true"
          [showFooter]="true"
          [toolbar]="claimsTableToolbarConfig"
          [searchPlaceholder]="'Ara Tüm Alanlar'"
          (rowSelect)="selectedSelectedCompanies = $event">
        </ui-data-table>
      </div>
    </div>
  </div>
</ui-modal>

<!-- Staff Permissions Selection Modal -->
<ui-modal
  [title]="'Kadro Yetkileri'"
  [show]="showStaffPermissionsModal"
  [size]="'xl'"
  [closable]="true"
  [showFooter]="false"
  (showChange)="showStaffPermissionsModal = $event"
  (closed)="closeStaffPermissionsModal()"
  (onResize)="gridHeight = ($event.height-50<600?600:($event.height-50))+'px'">
  
  <div class="permissions-transfer-container" [style.height]="gridHeight">
    <!-- Left Panel: Unselected Staffs -->
    <div class="transfer-panel">
      <div class="transfer-panel-header">
        <h4 class="transfer-panel-title">Seçilmemiş Kadrolar</h4>
        <button class="transfer-btn" (click)="transferStaffsToSelected()" title="Aktar">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 4l4 4-4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10 4l4 4-4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span>Aktar</span>
        </button>
      </div>
      <div class="transfer-panel-body">
        <ui-data-table
          #unselectedStaffsTable
          [id]="'unselected-staffs-grid'"
          [columns]="staffsTableColumns"
          [dataSource]="unselectedStaffsDataSource"
          [selectable]="true"
          [pagination]="true"
          [pageSize]="100"
          [height]="gridHeight"
          [recid]="'ID'"
          [selectType]="'row'"
          [multiSelect]="true"
          [showRefresh]="true"
          [searchable]="true"
          [advancedFilter]="true"
          [showFooter]="true"
          [toolbar]="claimsTableToolbarConfig"
          [searchPlaceholder]="'Ara Tüm Alanlar'"
          (rowSelect)="selectedUnselectedStaffs = $event">
        </ui-data-table>
      </div>
    </div>

    <!-- Right Panel: Selected Staffs -->
    <div class="transfer-panel">
      <div class="transfer-panel-header">
        <h4 class="transfer-panel-title">Seçili Kadrolar</h4>
        <button class="transfer-btn" (click)="transferStaffsToUnselected()" title="Aktar">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 4l-4 4 4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M6 4l-4 4 4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span>Aktar</span>
        </button>
      </div>
      <div class="transfer-panel-body">
        <ui-data-table
          #selectedStaffsTable
          [id]="'selected-staffs-grid'"
          [columns]="staffsTableColumns"
          [dataSource]="selectedStaffsDataSource"
          [selectable]="true"
          [pagination]="true"
          [pageSize]="100"
          [height]="gridHeight"
          [recid]="'ID'"
          [selectType]="'row'"
          [multiSelect]="true"
          [showRefresh]="true"
          [searchable]="true"
          [advancedFilter]="true"
          [showFooter]="true"
          [toolbar]="claimsTableToolbarConfig"
          [searchPlaceholder]="'Ara Tüm Alanlar'"
          (rowSelect)="selectedSelectedStaffs = $event">
        </ui-data-table>
      </div>
    </div>
  </div>
</ui-modal>

<!-- Department Permissions Selection Modal -->
<ui-modal
  [title]="'Bölüm Yetkileri'"
  [show]="showDepartmentPermissionsModal"
  [size]="'xl'"
  [closable]="true"
  [showFooter]="false"
  (showChange)="showDepartmentPermissionsModal = $event"
  (closed)="closeDepartmentPermissionsModal()"
  (onResize)="gridHeight = ($event.height-50<600?600:($event.height-50))+'px'">
  
  <div class="permissions-transfer-container" [style.height]="gridHeight">
    <!-- Left Panel: Unselected Departments -->
    <div class="transfer-panel">
      <div class="transfer-panel-header">
        <h4 class="transfer-panel-title">Seçilmemiş Bölümler</h4>
        <button class="transfer-btn" (click)="transferDepartmentsToSelected()" title="Aktar">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 4l4 4-4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10 4l4 4-4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span>Aktar</span>
        </button>
      </div>
      <div class="transfer-panel-body">
        <ui-data-table
          #unselectedDepartmentsTable
          [id]="'unselected-departments-grid'"
          [columns]="departmentsTableColumns"
          [dataSource]="unselectedDepartmentsDataSource"
          [selectable]="true"
          [pagination]="true"
          [pageSize]="100"
          [height]="gridHeight"
          [recid]="'DepartmentID'"
          [selectType]="'row'"
          [multiSelect]="true"
          [showRefresh]="true"
          [searchable]="true"
          [advancedFilter]="true"
          [showFooter]="true"
          [toolbar]="claimsTableToolbarConfig"
          [searchPlaceholder]="'Ara Tüm Alanlar'"
          (rowSelect)="selectedUnselectedDepartments = $event">
        </ui-data-table>
      </div>
    </div>

    <!-- Right Panel: Selected Departments -->
    <div class="transfer-panel">
      <div class="transfer-panel-header">
        <h4 class="transfer-panel-title">Seçili Bölümler</h4>
        <button class="transfer-btn" (click)="transferDepartmentsToUnselected()" title="Aktar">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 4l-4 4 4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M6 4l-4 4 4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span>Aktar</span>
        </button>
      </div>
      <div class="transfer-panel-body">
        <ui-data-table
          #selectedDepartmentsTable
          [id]="'selected-departments-grid'"
          [columns]="departmentsTableColumns"
          [dataSource]="selectedDepartmentsDataSource"
          [selectable]="true"
          [pagination]="true"
          [pageSize]="100"
          [height]="gridHeight"
          [recid]="'DepartmentID'"
          [selectType]="'row'"
          [multiSelect]="true"
          [showRefresh]="true"
          [searchable]="true"
          [advancedFilter]="true"
          [showFooter]="true"
          [toolbar]="claimsTableToolbarConfig"
          [searchPlaceholder]="'Ara Tüm Alanlar'"
          (rowSelect)="selectedSelectedDepartments = $event">
        </ui-data-table>
      </div>
    </div>
  </div>
</ui-modal>

<!-- Card Permissions Selection Modal -->
<ui-modal
  [title]="'Kart Yetkileri'"
  [show]="showCardPermissionsModal"
  [size]="'xl'"
  [closable]="true"
  [showFooter]="false"
  (showChange)="showCardPermissionsModal = $event"
  (closed)="closeCardPermissionsModal()"
  (onResize)="gridHeight = ($event.height-50<600?600:($event.height-50))+'px'">
  
  <div class="permissions-transfer-container" [style.height]="gridHeight">
    <!-- Left Panel: Unselected Cards -->
    <div class="transfer-panel">
      <div class="transfer-panel-header">
        <h4 class="transfer-panel-title">Seçilmemiş Kartlar</h4>
        <button class="transfer-btn" (click)="transferCardsToSelected()" title="Aktar">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 4l4 4-4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10 4l4 4-4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span>Aktar</span>
        </button>
      </div>
      <div class="transfer-panel-body">
        <ui-data-table
          #unselectedCardsTable
          [id]="'unselected-cards-grid'"
          [columns]="cardsTableColumns"
          [dataSource]="unselectedCardsDataSource"
          [selectable]="true"
          [pagination]="true"
          [pageSize]="100"
          [height]="gridHeight"
          [recid]="'CardID'"
          [selectType]="'row'"
          [multiSelect]="true"
          [showRefresh]="true"
          [searchable]="true"
          [advancedFilter]="true"
          [showFooter]="true"
          [toolbar]="claimsTableToolbarConfig"
          [searchPlaceholder]="'Ara Tüm Alanlar'"
          (rowSelect)="selectedUnselectedCards = $event">
        </ui-data-table>
      </div>
    </div>

    <!-- Right Panel: Selected Cards -->
    <div class="transfer-panel">
      <div class="transfer-panel-header">
        <h4 class="transfer-panel-title">Seçili Kartlar</h4>
        <button class="transfer-btn" (click)="transferCardsToUnselected()" title="Aktar">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 4l-4 4 4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M6 4l-4 4 4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span>Aktar</span>
        </button>
      </div>
      <div class="transfer-panel-body">
        <ui-data-table
          #selectedCardsTable
          [id]="'selected-cards-grid'"
          [columns]="cardsTableColumns"
          [dataSource]="selectedCardsDataSource"
          [selectable]="true"
          [pagination]="true"
          [pageSize]="100"
          [height]="gridHeight"
          [recid]="'CardID'"
          [selectType]="'row'"
          [multiSelect]="true"
          [showRefresh]="true"
          [searchable]="true"
          [advancedFilter]="true"
          [showFooter]="true"
          [toolbar]="claimsTableToolbarConfig"
          [searchPlaceholder]="'Ara Tüm Alanlar'"
          (rowSelect)="selectedSelectedCards = $event">
        </ui-data-table>
      </div>
    </div>
  </div>
</ui-modal>

<!-- Access Group Permissions Selection Modal -->
<ui-modal
  [title]="'Geçiş Yetkileri'"
  [show]="showAccessPermissionsModal"
  [size]="'xl'"
  [closable]="true"
  [showFooter]="false"
  (showChange)="showAccessPermissionsModal = $event"
  (closed)="closeAccessPermissionsModal()"
  (onResize)="gridHeight = ($event.height-50<600?600:($event.height-50))+'px'">
  
  <div class="permissions-transfer-container" [style.height]="gridHeight">
    <!-- Left Panel: Unselected Access Groups -->
    <div class="transfer-panel">
      <div class="transfer-panel-header">
        <h4 class="transfer-panel-title">Seçilmemiş Geçiş Grupları</h4>
        <button class="transfer-btn" (click)="transferAccessGroupsToSelected()" title="Aktar">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 4l4 4-4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10 4l4 4-4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span>Aktar</span>
        </button>
      </div>
      <div class="transfer-panel-body">
        <ui-data-table
          #unselectedAccessGroupsTable
          [id]="'unselected-access-groups-grid'"
          [columns]="accessGroupsTableColumns"
          [dataSource]="unselectedAccessGroupsDataSource"
          [selectable]="true"
          [pagination]="true"
          [pageSize]="100"
          [height]="gridHeight"
          [recid]="'AccessGroupID'"
          [selectType]="'row'"
          [multiSelect]="true"
          [showRefresh]="true"
          [searchable]="true"
          [advancedFilter]="true"
          [showFooter]="true"
          [toolbar]="claimsTableToolbarConfig"
          [searchPlaceholder]="'Ara Tüm Alanlar'"
          (rowSelect)="selectedUnselectedAccessGroups = $event">
        </ui-data-table>
      </div>
    </div>

    <!-- Right Panel: Selected Access Groups -->
    <div class="transfer-panel">
      <div class="transfer-panel-header">
        <h4 class="transfer-panel-title">Seçili Geçiş Grupları</h4>
        <button class="transfer-btn" (click)="transferAccessGroupsToUnselected()" title="Aktar">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 4l-4 4 4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M6 4l-4 4 4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span>Aktar</span>
        </button>
      </div>
      <div class="transfer-panel-body">
        <ui-data-table
          #selectedAccessGroupsTable
          [id]="'selected-access-groups-grid'"
          [columns]="accessGroupsTableColumns"
          [dataSource]="selectedAccessGroupsDataSource"
          [selectable]="true"
          [pagination]="true"
          [pageSize]="100"
          [height]="gridHeight"
          [recid]="'AccessGroupID'"
          [selectType]="'row'"
          [multiSelect]="true"
          [showRefresh]="true"
          [searchable]="true"
          [advancedFilter]="true"
          [showFooter]="true"
          [toolbar]="claimsTableToolbarConfig"
          [searchPlaceholder]="'Ara Tüm Alanlar'"
          (rowSelect)="selectedSelectedAccessGroups = $event">
        </ui-data-table>
      </div>
    </div>
  </div>
</ui-modal>

<!-- Terminal Permissions Selection Modal -->
<ui-modal
  [title]="'Terminal Yetkileri'"
  [show]="showTerminalPermissionsModal"
  [size]="'xl'"
  [closable]="true"
  [showFooter]="false"
  (showChange)="showTerminalPermissionsModal = $event"
  (closed)="closeTerminalPermissionsModal()"
  (onResize)="gridHeight = ($event.height-50<600?600:($event.height-50))+'px'">
  
  <div class="permissions-transfer-container" [style.height]="gridHeight">
    <!-- Left Panel: Unselected Terminals -->
    <div class="transfer-panel">
      <div class="transfer-panel-header">
        <h4 class="transfer-panel-title">Seçilmemiş Terminaller</h4>
        <button class="transfer-btn" (click)="transferTerminalsToSelected()" title="Aktar">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 4l4 4-4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10 4l4 4-4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span>Aktar</span>
        </button>
      </div>
      <div class="transfer-panel-body">
        <ui-data-table
          #unselectedTerminalsTable
          [id]="'unselected-terminals-grid'"
          [columns]="terminalsTableColumns"
          [dataSource]="unselectedTerminalsDataSource"
          [selectable]="true"
          [pagination]="true"
          [pageSize]="100"
          [height]="gridHeight"
          [recid]="'ReaderID'"
          [selectType]="'row'"
          [multiSelect]="true"
          [showRefresh]="true"
          [searchable]="true"
          [advancedFilter]="true"
          [showFooter]="true"
          [toolbar]="claimsTableToolbarConfig"
          [searchPlaceholder]="'Ara Tüm Alanlar'"
          (rowSelect)="selectedUnselectedTerminals = $event">
        </ui-data-table>
      </div>
    </div>

    <!-- Right Panel: Selected Terminals -->
    <div class="transfer-panel">
      <div class="transfer-panel-header">
        <h4 class="transfer-panel-title">Seçili Terminaller</h4>
        <button class="transfer-btn" (click)="transferTerminalsToUnselected()" title="Aktar">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 4l-4 4 4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M6 4l-4 4 4 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span>Aktar</span>
        </button>
      </div>
      <div class="transfer-panel-body">
        <ui-data-table
          #selectedTerminalsTable
          [id]="'selected-terminals-grid'"
          [columns]="terminalsTableColumns"
          [dataSource]="selectedTerminalsDataSource"
          [selectable]="true"
          [pagination]="true"
          [pageSize]="100"
          [height]="gridHeight"
          [recid]="'ReaderID'"
          [selectType]="'row'"
          [multiSelect]="true"
          [showRefresh]="true"
          [searchable]="true"
          [advancedFilter]="true"
          [showFooter]="true"
          [toolbar]="claimsTableToolbarConfig"
          [searchPlaceholder]="'Ara Tüm Alanlar'"
          (rowSelect)="selectedSelectedTerminals = $event">
        </ui-data-table>
      </div>
    </div>
  </div>
</ui-modal>

<!-- Secure Fields Permissions Modal -->
<ui-modal
  [title]="'Güvenli Girdi Yetkileri'"
  [show]="showSecureFieldsPermissionsModal"
  [size]="'xl'"
  [closable]="true"
  [showFooter]="false"
  (showChange)="showSecureFieldsPermissionsModal = $event"
  (closed)="closeSecureFieldsPermissionsModal()"
  (onResize)="gridHeight = ($event.height-50<600?600:($event.height-50))+'px'">
  
  <div class="secure-fields-permissions-container">
    //api/SecureFields ten bütün kayıtları getir
    //gelen responsa göre list oluştur 
    // Source[label] -  Field[label]  IsSeen[checkbox]  IsEdit[checkbox]
    //api/SecureFields/GetAllByAuthorizationId/authorizationId
    // gelen kayıtlara göre checkboxların seçili olup olmadığını kontrol et
  </div>
</ui-modal>
