<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div [class]="activeSettings.loginImage && activeSettings.loginImage !== '' ? 'col-lg-4' : 'col-lg-12'">
      <div
        class="d-flex align-items-start align-items-lg-center justify-content-center h-100"
      >
        <div class="row justify-content-center w-100 h-100 align-items-center">
          <div class="col-lg-9 max-width-form">
            <a [routerLink]="['/']">
              <img
                [src]="activeSettings.logoUrlLogin"
                class="align-middle m-2"
                style="height: 50px;"
                alt="logo"
              />
            </a>
            <h4 class="f-w-700 f-s-24 m-t-24 m-b-8">{{ 'login.title' | translate }}</h4>
            @if(authConfig.googleLoginEnabled) {
            <div class="row m-t-24">
              <div class="col-12">
                <button mat-stroked-button class="w-100" (click)="signInWithGoogle()">
                  <div class="d-flex align-items-center justify-content-center">
                    <img
                      src="/assets/images/svgs/google-icon.svg"
                      alt="google"
                      width="16"
                      class="m-r-8"
                    />
                    {{ 'login.signInWithGoogle' | translate }}
                  </div>
                </button>
              </div>
            </div>

            <div class="or-border m-t-30">{{ 'login.orSignInWith' | translate }}</div>
            }

            <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
              <mat-label class="f-s-14 f-w-600 m-b-12 d-block"
                >Kimlik Numarası</mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input matInput formControlName="uname" placeholder="TC Kimlik Numarası" />
                @if(f['uname'].touched && f['uname'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                  @if(f['uname'].errors && f['uname'].errors['required']) {
                  <div class="text-error d-flex align-items-center">
                    <i-tabler name="alert-circle" class="icon-14 m-r-4"></i-tabler>
                    Kimlik numarası gereklidir
                  </div>
                  }
                </mat-hint>
                }
              </mat-form-field>

              <!-- password -->
              <mat-label class="f-s-14 f-w-600 m-b-12 d-block"
                >Şifre</mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input matInput type="password" formControlName="password" placeholder="Şifrenizi giriniz" />
                @if(f['password'].touched && f['password'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                  @if( f['password'].errors && f['password'].errors['required'])
                  {
                  <div class="text-error d-flex align-items-center">
                    <i-tabler name="alert-circle" class="icon-14 m-r-4"></i-tabler>
                    Şifre gereklidir
                  </div>
                  }
                </mat-hint>
                }
              </mat-form-field>

              <div class="d-flex align-items-center justify-content-between m-b-12">
                <a
                  [routerLink]="['/authentication/register']"
                  class="text-primary f-w-600 text-decoration-none f-s-14"
                  >Yeni Üyelik</a
                >
                @if(authConfig.forgotPasswordEnabled) {
                <a
                  [routerLink]="['/authentication/forgot-password']"
                  class="text-primary f-w-600 text-decoration-none f-s-14"
                  >{{ 'login.forgotPassword' | translate }}</a
                >
                }
              </div>
              
              <!-- Cloudflare Turnstile -->
              @if(authConfig.cloudflareEnabled) {
              <div class="m-b-16 d-flex flex-column align-items-center">
                <div [id]="turnstileWidgetId"></div>
                @if(turnstileError) {
                  <div class="text-error f-s-12 m-t-8 text-center d-flex align-items-center justify-content-center">
                    <i-tabler name="alert-circle" class="icon-14 m-r-4"></i-tabler>
                    {{ turnstileError }}
                  </div>
                }
              </div>
              }
              
              <button
                mat-flat-button
                color="primary"
                class="w-100"
                [disabled]="!form.valid || (authConfig.cloudflareEnabled && !turnstileToken) || isLoading"
              >
                @if(isLoading) {
                  <span class="d-flex align-items-center justify-content-center">
                    <mat-progress-spinner diameter="20" mode="indeterminate" class="m-r-8"></mat-progress-spinner>
                    {{ 'login.submitting' | translate }}
                  </span>
                } @else {
                  {{ 'login.submit' | translate }}
                }
              </button>
              <!-- input -->
            </form>
          </div>
        </div>
      </div>
    </div>
    @if(activeSettings.loginImage && activeSettings.loginImage !== '') {  
    <div class="col-lg-8 position-relative overflow-hidden d-none d-lg-block">
        <img id="randomImage" alt="backgroundPhoto" style="width: 100%; height: 100%; object-fit: cover;" [src]="activeSettings.loginImage"/>
    </div>
    }
  </div>
</div>
