@use "sass:map";
@use "@angular/material" as mat;

@include mat.expansion-overrides(
  (
    container-background-color: var(--mat-card-elevated-container-color),
    header-text-color: var(--mat-sys-on-background),
  )
);


html .mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: var(--mat-sys-level1);
}