@use "../variables" as *;

.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0px;
  display: flex;
}

.breadcrumb-item {
  padding: 0 10px 0 0;

  &:first-child {
    &::marker {
      display: none;
    }
  }

  a {
    text-decoration: none;
    font-size: 14px;

    &:hover {
      color: $primary;
    }
  }
}