.front-topbar {
    &.fixed-topbar {
        position: fixed;
        top: 0;
        width: 100%;
        background: var(--mat-sys-surface-bright);
        z-index: 9;
    }
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    transition: opacity 0.3s ease;
}

.home-page-details {
    .tab-content {
        .accordion {
            .mat-expansion-indicator svg {
                margin: 0;
            }

            .mat-expansion-panel-content-wrapper {
                .mat-expansion-panel-body {
                    padding: 16px 0px;
                }
            }
        }
    }
}

.mobile-sidebar {
    .mdc-list {
        .mdc-list-item {
            .mat-mdc-button {
                color: var(--mat-sys-on-background);
                min-width: 100%;
                justify-content: flex-start;

                &.selected {
                    background-color: var(--mat-sys-primary-fixed-dim);
                    color: var(--mat-sys-primary);
                    transition: background-color 0.3s ease;
                }
            }
        }
    }
}

.question {
    .border-dash-content {
        border: 1px dashed var(--mat-sys-outline);
    }

    .accordion {
        .mat-expansion-panel-header {
            height: auto;
            padding: 16px 20px;
        }
    }
}

.spacing-top-bottom {
    padding: 90px 0;
}

.spacing-left-right {
    padding: 0 90px;
}

.spacing-left {
    padding-left: 90px;
}

.spacing-top {
    padding-top: 90px;
}

.spacing-bottom {
    padding-bottom: 90px;
}

@media (max-width: 959px) {
    .section-sub-title {
        font-size: 32px !important;
    }

    .spacing-top-bottom {
        padding: 60px 0;
    }

    .spacing-left-right {
        padding: 0 60px;
    }

    .spacing-left {
        padding-left: 60px;
    }

    .spacing-top {
        padding-top: 60px;
    }

    .spacing-bottom {
        padding-bottom: 60px;
    }
}

@media (max-width: 767px) {
    .section-sub-title {
        font-size: 26px !important;
    }

    .spacing-top-bottom {
        padding: 30px 0;
    }

    .spacing-left-right {
        padding: 0 30px;
    }

    .spacing-left {
        padding-left: 30px;
    }

    .spacing-top {
        padding-top: 30px;
    }

    .spacing-bottom {
        padding-bottom: 30px;
    }
}