<div class="terminals-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <ui-data-table
          [id]="'terminals-grid'"
          [showFooter]="true"
          [page]="1"
          [columns]="tableColumns"
          [dataSource]="tableDataSource"
          [joinOptions]="joinOptions"
          [canViewDeleted]="true"
          [formFields]="formFields"
          [formTabs]="formTabs"
          [formLoadUrl]="formLoadUrl"
          [formFullscreen]="true"
          [formLoadRequest]="formLoadRequest"
          [formDataMapper]="formDataMapper"
          [onSave]="onSave"
          [onFormChange]="onFormChange"
          [selectable]="true"
          [pagination]="true"
          [pageSize]="100"
          [limit]="100"
          [recordHeight]="32"
          [showEmptyRows]="true"
          [fixedBody]="true"
          [advancedFilter]="true"
          [showRefresh]="true"
          [searchPlaceholder]="'Ara Tüm Alanlar'"
          [recid]="'ReaderID'"
          [selectType]="'row'"
          [multiSelect]="true"
          [multiSort]="true"
          [keyboard]="true"
          [liveSearch]="true"
          [reorderColumns]="false"
          [reorderRows]="false"
          [lineNumbers]="false"
          [expandColumn]="false"
          [nestedFields]="true"
          [columnTooltip]="'top'"
          [toolbar]="tableToolbarConfig"
          (rowClick)="onTableRowClick($event)"
          (rowDblClick)="onTableRowDblClick($event)"
          (rowSelect)="onTableRowSelect($event)"
          (advancedFilterChange)="onAdvancedFilterChange($event)"
          (refresh)="onTableRefresh()"
          (delete)="onTableDelete($event)"
          (add)="onTableAdd()"
          (edit)="onTableEdit($event)">
        </ui-data-table>
      </div>
    </div>
  </div>

  <!-- Access Permission View Modal -->
  <ui-modal
    [title]="'Yetkili Kişi ve Kart Listesi'"
    [show]="showAccessPermissionModal"
    [size]="'full'"
    [closable]="true"
    [backdrop]="true"
    [backdropClose]="true"
    [showFooter]="false"
    [allowFullscreen]="true"
    (showChange)="onAccessPermissionModalShowChange($event)"
    (opened)="onAccessPermissionModalOpened()"
    (closed)="onAccessPermissionModalClose()">
    <div class="access-permission-view" style="height: calc(100vh - 80px);">
      <ui-data-table
        #accessPermissionGrid
        [id]="'access-permission-grid'"
        [showFooter]="true"
        [page]="1"
        [columns]="accessPermissionColumns"
        [dataSource]="accessPermissionDataSource"
        [selectable]="false"
        [pagination]="true"
        [pageSize]="100"
        [limit]="100"
        [recordHeight]="32"
        [showEmptyRows]="true"
        [fixedBody]="true"
        [advancedFilter]="true"
        [showRefresh]="true"
        [searchPlaceholder]="'Ara...'"
        [recid]="'Id'"
        [selectType]="'row'"
        [multiSelect]="false"
        [multiSort]="true"
        [keyboard]="true"
        [liveSearch]="true"
        [nestedFields]="true"
        [columnTooltip]="'top'"
        [toolbar]="{ items: [], show: { reload: true, columns: true, search: true, add: false, edit: false, delete: false, save: false } }">
      </ui-data-table>
    </div>
  </ui-modal>
</div>
