html {
  --mat-sys-corner-small: 12px;
  --mat-sys-error-fixed-dim: rgba(248, 40, 90, 0.20);
  --mat-select-container-elevation-shadow: var(--mat-sys-level3);
  --mat-list-list-item-label-text-tracking: 0;
  --mat-slide-toggle-track-height: 28px;
  --mat-sidenav-container-divider-color: var(--mat-sys-outline-variant);
  --mat-dialog-with-actions-content-padding: 20px 24px;
  --mat-form-field-container-text-tracking: unset;
  --mat-slide-toggle-with-icon-handle-size: 21px;
  --mat-badge-text-color: white;
  --mat-slide-toggle-selected-with-icon-handle-horizontal-margin: 0 26px;

  .mat-mdc-tooltip .mdc-tooltip__surface {
    --mat-tooltip-container-color: var(--mat-sys-primary) !important;
  }
}
