.ui-tabs {
  cursor: default;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  min-height: 28px;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.ui-tabs-line {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  border: 0;
  height: 1px;
  background-color: #e2e2e2;
}

.ui-tabs-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 0 2px;
  position: relative;
  z-index: 2;
}

.ui-tab-item {
  height: 28px;
  position: relative;
  z-index: 20;
  padding: 7px 20px 4px 20px;
  text-align: center;
  color: black;
  background-color: transparent;
  border: 2px solid transparent;
  white-space: nowrap;
  margin: 0px 1px;
  border-radius: 0;
  cursor: default;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--ui-spacing-xs);
}

.ui-tab-item:hover:not(.ui-tab-item-disabled) {
  background-color: #dfe1e630;
}

.ui-tab-item-active {
  color: #0175ff;
  background-color: transparent;
  border: 2px solid transparent;
  border-bottom: 2px solid #0175ff;
  margin-bottom: 0px;
}

.ui-tab-item-disabled {
  opacity: 0.2;
  cursor: not-allowed;
  pointer-events: none;
}

.ui-tab-icon {
  display: inline-flex;
  align-items: center;
}

.ui-tabs-content {
  padding: var(--ui-spacing-lg) 0;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
}

/* Pills variant */
.ui-tabs-pills .ui-tabs-header {
  border-bottom: none;
}

.ui-tabs-pills .ui-tabs-line {
  display: none;
}

.ui-tabs-pills .ui-tab-item {
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  margin-bottom: 0;
}

.ui-tabs-pills .ui-tab-item:hover:not(.ui-tab-item-disabled) {
  background-color: #dfe1e630;
}

.ui-tabs-pills .ui-tab-item-active {
  background-color: transparent;
  color: #0175ff;
  border-bottom: 2px solid #0175ff;
}

