@use "sass:map";
@use "@angular/material" as mat;

html.aqua_theme {
  --mat-sys-primary: rgb(0, 116, 186);
  --mat-sys-primary-fixed-dim: rgb(0, 116, 186, 0.15);
  --mat-sys-secondary: rgb(71, 215, 188);
  --mat-sys-secondary-fixed-dim: rgb(71, 215, 188, 0.15);
  --mat-sys-tertiary: rgb(71, 215, 188);
}
