@use "sass:map";
@use "@angular/material" as mat;

html.cyan_theme {
  --mat-sys-primary: rgb(0, 185, 192);
  --mat-sys-primary-fixed-dim: rgb(0, 185, 192, 0.15);
  --mat-sys-secondary: rgb(244, 139, 108);
  --mat-sys-secondary-fixed-dim: rgb(244, 139, 108, 0.15);
  --mat-sys-tertiary: rgb(244, 139, 108);
}
