@use "sass:map";
@use "@angular/material" as mat;

html.green_theme {
  --mat-sys-primary: rgb(6, 118, 154);
  --mat-sys-primary-fixed-dim: rgb(6, 118, 154, 0.15);
  --mat-sys-secondary: rgb(195, 208, 70);
  --mat-sys-secondary-fixed-dim: rgb(195, 208, 70, 0.15);
  --mat-sys-tertiary: rgb(195, 208, 70);
}
