@use "sass:map";
@use "@angular/material" as mat;

html.orange_theme {
  --mat-sys-primary: rgb(250, 137, 107);
  --mat-sys-primary-fixed-dim: rgb(250, 137, 107, 0.15);
  --mat-sys-secondary: rgb(0, 127, 180);
  --mat-sys-secondary-fixed-dim: rgb(0, 127, 180, 0.15);
  --mat-sys-error-fixed-dim: rgba(247, 68, 86, 0.15);
}
