@use "sass:map";
@use "@angular/material" as mat;

html.purple_theme {
  --mat-sys-primary: rgb(110, 53, 183);
  --mat-sys-primary-fixed-dim: rgb(110, 53, 183, 0.15);
  --mat-sys-secondary: rgb(139, 200, 206);
  --mat-sys-secondary-fixed-dim: rgb(139, 200, 206, 0.15);
  --mat-sys-tertiary: rgb(139, 200, 206);
}
